# Web Framework
fastapi
fastapi-mail
uvicorn[standard]
starlette
requests

# Database
motor
pymongo

redis

# Authentication & Security
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
cryptography
python-multipart
pytz

# Data Validation
pydantic
pydantic[email]
pydantic-settings
email-validator


# Email


# Utilities
typing-extensions
