# Web Framework
fastapi
fastapi-mail
uvicorn[standard]
starlette
httpx

# Database
motor
pymongo

redis

# Authentication & Security
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
cryptography
python-multipart
pytz

# Data Validation
pydantic
pydantic[email]
pydantic-settings
email-validator


# Test
pytest
pytest-asyncio
pytest-mock
pytest-cov
pytest-xdist
pytest-timeout
pytest-filter-plugins



# Utilities
typing-extensions
